<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meghna One page parallax responsive HTML Template ">
        <meta name="author" content="Muhammad Morshed">
    <title>Terminals | The Political Social Network</title>
<!-- Mobile Specific Meta
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" type="image/Democracy.png" href="img/favicon.png" />
<!-- CSS
================================================== -->
<!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
<!-- bootstrap.min css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
<!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
<!-- Grid Component css -->
    <link rel="stylesheet" href="css/component.css">
<!-- Slit Slider css -->
    <link rel="stylesheet" href="css/slit-slider.css">
<!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
<!-- Media Queries -->
    <link rel="stylesheet" href="css/media-queries.css">
<!--
Google Font
=========================== -->
<!-- Oswald / Title Font -->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
<!-- Ubuntu / Body Font -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
<!-- Modernizer Script for old Browsers -->
    <script src="js/modernizr-2.6.2.min.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-54152927-1', 'auto');
ga('send', 'pageview');
</script>
    </head>
    <body id="body">
<!--
Start Preloader
==================================== -->
<div id="loading-mask">
<div class="loading-img">
<img alt="Meghna Preloader" src="img/preloader.gif"  />
</div>
</div>
    <!--
    End Preloader
    ==================================== -->
    <!--
    Welcome Slider
    ==================================== -->
<section id="home">
    <div id="slitSlider" class="sl-slider-wrapper">
<div class="sl-slider">
<!-- single slide item -->
<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
<div class="sl-slide-inner">
<div class="bg-img bg-img-1"></div>
<div class="carousel-caption">
<div>
<img class="wow fadeInUp" src="img/Democracy.png" alt="Meghna">
<h2 data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">Welcome To Political Social Network</h2>
</div>
</div>
</div>
</div>
<!-- /single slide item -->
<!-- single slide item -->
<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
<div class="sl-slide-inner">
<div class="bg-img bg-img-2"></div>
<div class="carousel-caption">
<div>
<h2 class="heading animated fadeInDown">Democracy for everyone</h2>
<h3 class="animated fadeInUp">With all People of country</h3>
<a class="btn btn-green animated fadeInUp" href="#">Get Started</a>
</div>
</div>
</div>
</div>
<!-- /single slide item -->
<!-- single slide item -->
<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
<div class="sl-slide-inner">
<div class="bg-img bg-img-3"></div>
<div class="carousel-caption">
<div>
<h2 class="heading animated fadeInRight">Social Political Network</h2>
<h3 class="animated fadeInLeft">Clean and Professional </h3>
<a class="btn btn-green animated fadeInUp" href="#about">Learn More</a>
</div>
</div>
</div>
</div>
<!-- /single slide item -->
</div><!-- /sl-slider -->
<nav id="nav-arrows" class="nav-arrows">
<span class="nav-arrow-prev">Previous</span>
<span class="nav-arrow-next">Next</span>
</nav>
<nav id="nav-dots" class="nav-dots">
<span class="nav-dot-current"></span>
<span></span>
<span></span>
</nav>
</div><!-- /slider-wrapper -->
</section>
<!--/#home section-->
    <!--
    Fixed Navigation
    ==================================== -->
    <header id="navigation" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <!-- /responsive nav button -->
                <!-- logo -->
            <a class="navbar-brand" href="#body">
        <h1 id="logo">
        <img src="img/Democracy.png" alt="Meghna" />
        </h1>
        </a>
        <!-- /logo -->
            </div>
                <!-- main nav -->
            <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li class="current"><a href="#body">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#showcase">Ministries Linked</a></li>
                    <li><a href="#our-team">Team</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact-us">Contact</a></li>
                    <li><a href="/login"> Login/Register </a><li>
                    <li><a href="/getQuery"> Queries </a><li>
                    <li><a href="/getAdmin"> Major Issues(Government Posts) </a><li>
                 </ul>
            </nav>
        <!-- /main nav -->
                    </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        <!--
    Start About Section
    ==================================== -->
    <section id="about" class="bg-one">
    <div class="container">
    <div class="row">
        <!-- section title -->
    <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
    <h2>About <span class="color">Us</span></h2>
    <div class="border"></div>
    </div>
    <!-- /section title -->
        <!-- About item -->
    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
    <div class="wrap-about">
    <div class="icon-box">
    <i class="fa fa-lightbulb-o fa-4x"></i>
    </div>
    <!-- Express About Yourself -->
    <div class="about-content text-center">
    <h3 class="ddd">We're Creative</h3>
    <p>We want that all people have their say in the decisions taken by the government</p>
    </div>
    </div>
    </div>
    <!-- End About item -->
        <!-- About item -->
    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
    <div class="wrap-about">
    <div class="icon-box">
    <i class="fa fa-users fa-4x"></i>
    </div>
    <!-- Express About Yourself -->
    <div class="about-content text-center">
    <h3>We're Professional</h3>
    <p> We take the voice of the people and take it to the goverment</p>
    </div>
    </div>
    </div>
    <!-- End About item -->
        <!-- About item -->
    <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
    <div class="wrap-about kill-margin-bottom">
    <div class="icon-box">
    <i class="fa fa-users fa-4x"></i>
    </div>
    <!-- Express About Yourself -->
    <div class="about-content text-center">
    <h3>We're Enthusiastic</h3>
    <p> We Want Democracy of our country to reach each and everyone</p>
    </div>
    </div>
    </div>
    <!-- End About item -->
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
    </section>   <!-- End section -->
        <!--
    Start Main Features
    ==================================== -->
    <section id="main-features">
    <div class="container">
    <div class="row">
        <!-- features item -->
    <div id="features">
    <div class="item">
        <div class="features-item">
        <!-- features media -->
    <div class="col-md-6 feature-media media-wrapper wow fadeInUp" data-wow-duration="500ms">
    <iframe src="https://www.youtube.com/watch?v=u6jgWxkbR7A" allowfullscreen></iframe>
    </div>
    <!-- /features media -->
        <!-- features content -->
    <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
    <h3>Main Features of Political Social Network</h3>
    <p>We have three major objectives:-</p>
    <p>1. The decisions taken by different Ministeries of the Government should reach out to the common people and the Government officials should get their response in the form of upvotes and downvotes. People should also be able to share their views in the form of comments. </p>
    <p>2. The common people should be able to communicate their ideas and problems to the Government officials. </p>
    <p>3. The Government officials should be able to reply to the queries sent by people. </p>
    </div>
    <!-- /features content -->
        </div>
    </div>
        <div class="item">
    <div class="features-item">
        <!-- features media -->
    <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
    <img src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
    </div>
    <!-- /features media -->
        <!-- features content -->
    <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
    <h3>Main Features of Meghna</h3>
   <p>We have three major objectives:-</p>
   <p>1. The decisions taken by different Ministeries of the Government should reach out to the common people and the Government officials should get their response in the form of upvotes and downvotes. People should also be able to share their views in the form of comments. </p>
   <p>2. The common people should be able to communicate their ideas and problems to the Government officials. </p>
   <p>3. The Government officials should be able to reply to the queries sent by people. </p>
    </div>
    <!-- /features content -->
        </div>
    </div>
    </div>
    <!-- /features item -->
        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
    </section>   <!-- End section -->
        <!--
    Start Counter Section
    ==================================== -->
        <section id="counter" class="parallax-section">
    <div class="container">
    <div class="row">
        <!-- first count item -->
    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
    <div class="counters-item">
    <div>
    <span data-speed="3000" data-to="320">320</span>
    </div>
    <i class="fa fa-users fa-3x"></i>
    <h3>Government Posts</h3>
    </div>
    </div>
    <!-- end first count item -->
        <!-- second count item -->
    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
    <div class="counters-item">
    <div>
    <span data-speed="3000" data-to="565">565</span>
    </div>
    <i class="fa fa-check-square fa-3x"></i>
    <h3>Query Submitted</h3>
    </div>
    </div>
    <!-- end second count item -->
        <!-- third count item -->
    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
    <div class="counters-item">
    <div>
    <span data-speed="3000" data-to="95">95</span>
    <span>%</span>
    </div>
    <i class="fa fa-thumbs-up fa-3x"></i>
    <h3>Positive feedback</h3>
        </div>
    </div>
    <!-- end third count item -->
        <!-- fourth count item -->
    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
    <div class="counters-item kill-margin-bottom">
    <div>
    <span data-speed="3000" data-to="250">250</span>
    </div>
    <i class="fa fa-coffee fa-3x"></i>
    <h3>Queries Answered</h3>
    </div>
    </div>
    <!-- end fourth count item -->
        </div> 		<!-- end row -->
    </div>   	<!-- end container -->
    </section>   <!-- end section -->
            <!-- Start Services Section
    ==================================== -->
            <!-- Start Portfolio Section
    =========================================== -->
        <section id="showcase">
    <div class="container">
    <div class="row wow fadeInDown" data-wow-duration="500ms">
    <div class="col-lg-12">
        <!-- section title -->
    <div class="title text-center">
    <h2>Our <span class="color">Linked Ministries</span></h2>
    <div class="border"></div>
    </div>
    <!-- /section title -->
        <!-- portfolio item filtering -->

    <!-- /portfolio item filtering -->
        </div> <!-- /end col-lg-12 -->
    </div> <!-- end row -->
    </div>	<!-- end container -->
        <!-- portfolio items -->
    <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
        <ul id="og-grid" class="og-grid">
        <!-- single portfolio item -->
     <% for(var i = 0 ; i < ministry.length ; i++){%>
    <li class="mix app">
    <a href="http://<%=website[i]%>" data-largesrc="img/portfolio/<%=i%>.jpg" data-title="<%=ministry[i]%>" data-description="<%=ministry[i]%>">
    <img src="img/portfolio/<%=i%>.jpg" alt="Democracy">
    <div class="hover-mask">
    <h3><%=ministry[i]%></h3>
    <span>
    <i class="fa fa-plus fa-2x"></i>
    </span>
    </div>
    </a>
    </li>
    <%}%>
    <!-- /single portfolio item -->
        <!-- single portfolio item -->
    <!-- Start
            Team Skills
    =========================================== -->
        <section id="team-skills" class="parallax-section">
    <div class="container">
    <div class="row wow fadeInDown" data-wow-duration="500ms">
        <!-- section title -->
    <div class="title text-center">
    <h2>Our <span class="color">Technologies used</span></h2>
    <div class="border"></div>
    </div>
    <!-- /section title -->
        <!-- skill set -->
    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
    <div class="skill-chart text-center">
    <span class="chart" data-percent="36">
    <span class="percent"></span>
    </span>
    <h3><i class="fa fa-javascript"></i> Javascript</h3>
    <p>Lorem ipsum has erroribus design color vituper bonorum depend you usedcom.bonorum dependan be used.</p>
    </div>
    </div>
    <!-- end skill set -->
        <!-- skill set -->
    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
    <div class="skill-chart text-center">
    <span class="chart" data-percent="40">
    <span class="percent">86</span>
    </span>
    <h3><i class="fa fa-html5"></i> HTML 5</h3>
    <p>Lorem ipsum has erroribus design color vituper bonorum depend you usedcom.bonorum dependan be used.</p>
    </div>
    </div>
    <!-- end skill set -->
        <!-- skill set -->
    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
    <div class="skill-chart text-center">
    <span class="chart" data-percent="19.3">
    <span class="percent"></span>
    </span>
    <h3><i class="fa fa-css"></i> CSS</h3>
    <p>Lorem ipsum has erroribus design color vituper bonorum depend you usedcom.bonorum dependan be used.</p>
    </div>
    </div>
    <!-- end skill set -->
        <!-- skill set -->
    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
    <div class="skill-chart text-center">
    <span class="chart" data-percent="2.4">
    <span class="percent"></span>
    </span>
    <h3><i class="fa fa-php"></i> PHP</h3>
    <p>Lorem ipsum has erroribus design color vituper bonorum depend you usedcom.bonorum dependan be used.</p>
    </div>
    </div>
    <!-- end skill set -->
        </div>  		<!-- End row -->
    </div>   	<!-- End container -->
    </section>   <!-- End section -->
        <!-- Start Our Team
    =========================================== -->
        <section id="our-team">
    <div class="container">
    <div class="row">
        <!-- section title -->
    <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
    <h2>Our <span class="color">Team</span></h2>
    <div class="border"></div>
    </div>
    <!-- /section title -->
        <!-- team member -->
    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
        <article class="team-mate">
    <div class="member-photo">
    <!-- member photo -->
    <img class="img-responsive" src="img/team/member-1.jpg" alt="Meghna">
    <!-- /member photo -->
        <!-- member social profile -->
    <div class="mask">
    <ul class="clearfix">
    <li><a href="http://facebook.com/chotu.kv"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    </ul>
    </div>
    <!-- /member social profile -->
    </div>
        <!-- member name & designation -->
    <div class="member-title">
    <h3>Shivam</h3>
    <span>Leader/Backend-Developer</span>
    </div>
    <!-- /member name & designation -->
        <!-- about member -->
        <div class="member-info">
            <p>He is the leader of our team and the mainly focussed on the backend development of our site.</p>
        </div>
    <!-- /about member -->
            </article>
    </div>
<!-- end team member -->
<!-- team member -->
<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
    <article class="team-mate">
<div class="member-photo">
<!-- member photo -->
<img class="img-responsive" src="img/team/member-1.jpg" alt="Meghna">
<!-- /member photo -->
<!-- member social profile -->
<div class="mask">
<ul class="clearfix">
<li><a href="https://www.facebook.com/lal.rishav.3"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
</ul>
</div>
<!-- /member social profile -->
</div>
<!-- member name & designation -->
<div class="member-title">
<h3>Lal Rishav</h3>
<span>Developer/Mentor</span>
</div>
<!-- /member name & designation -->
<!-- about member -->
    <div class="member-info">
        <p>Advanced Backend Developer of our team and guides all other team members.</p>
    </div>
<!-- /about member -->
</article>
    </div>
<!-- end team member -->
<!-- team member -->
<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
    <article class="team-mate">
<div class="member-photo">
<!-- member photo -->
<img class="img-responsive" src="img/team/member-1.jpg" alt="Meghna">
<!-- /member photo -->
<!-- member social profile -->
<div class="mask">
<ul class="clearfix">
<li><a href="https://www.facebook.com/divyansh.jamuaar"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
</ul>
</div>
<!-- /member social profile -->
</div>
<!-- member name & designation -->
<div class="member-title">
<h3>Divyansh Jamuaar</h3>
<span>Manager</span>
</div>
<!-- /member name & designation -->
<!-- about member -->
    <div class="member-info">
        <p>He is the manager of our core team responsible for the managing the whole project of our team.</p>
    </div>
<!-- /about member -->
    </article>
</div>
<!-- end team member -->
<!-- team member -->
<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
<article class="team-mate kill-margin-bottom">
<div class="member-photo">
<!-- member photo -->
<img class="img-responsive" src="img/team/member-1.jpg" alt="Meghna">
<!-- /member photo -->
<!-- member social profile -->
<div class="mask">
<ul class="clearfix">
<li><a href="https://www.facebook.com/profile.php?id=100013338341748"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
</ul>
</div>
<!-- /member social profile -->
</div>
<!-- member name & designation -->
<div class="member-title">
<h3>Ishaan Mishra</h3>
<span>Developer</span>
</div>
<!-- /member name & designation -->
<!-- about member -->
<div class="member-info">
    <p>Supportive developer of our team.</p>
</div>
<!-- /about member -->
</article>
</div>
<!-- end team member -->
</div>  	<!-- End row -->
</div>   	<!-- End container -->
</section>   <!-- End section -->
<!-- Start Twitter Feed
=========================================== -->
<section id="twitter-feed" class="parallax-section">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<!-- twitter bird -->
<div class="twitter-bird wow fadeInDown" data-wow-duration="500ms">
<span>
<i class="fa fa-twitter fa-4x"></i>
</span>
</div>
<!-- /twitter bird -->
<!-- fetching tweet -->
<div class="tweet wow fadeIn" data-wow-duration="2000ms"></div>
<!-- /fetching tweet -->
<!-- follow us button -->
<a href="https://twitter.com/KvShivam" title="Follow Us" target="_blank" class="btn btn-transparent wow fadeInUp" data-wow-duration="500ms">Follow Us</a>
<!-- /follow us button -->
</div>
</div>       <!-- End row -->
</div>   	<!-- End container -->
</section>   <!-- End section -->
<!--</section>   <!-- End section -->
<!--<!-- Start Testimonial-->

<section id="testimonial" class="parallax-section">
<div class="container">
<div class="row">
<div class="col-lg-12">
<!-- section title -->
<div class="sub-title text-center wow fadeInDown" data-wow-duration="500ms">
<h3>What People Say About Us</h3>
</div>
<!-- /section title -->
<!-- testimonial wrapper -->
<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
<!-- testimonial single -->
<div class="item text-center">
<!-- client photo -->
<div class="client-thumb">
<img src="img/team/client.jpg" class="img-responsive" alt="Meghna">
</div>
<!-- /client photo -->
<!-- client info -->
<div class="client-info">
<div class="client-meta">
<h3>Abul Mal Muhit</h3>
<span>Dec 26, 2014</span>
</div>
<div class="client-comment">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.</p>
<ul class="social-profile">
<li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
<li><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
</ul>
</div>
</div>
<!-- /client info -->
</div>
<!-- /testimonial single -->
<!-- testimonial single -->
<div class="item text-center">
<!-- client photo -->
<div class="client-thumb">
<img src="img/team/client.jpg" class="img-responsive" alt="Meghna">
</div>
<!-- /client photo -->
<!-- client info -->
<div class="client-info">
<div class="client-meta">
<h3>Abul Mal Muhit</h3>
<span>Dec 26, 2014</span>
</div>
<div class="client-comment">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.</p>
<ul class="social-profile">
<li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
<li><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
</ul>
</div>
</div>
<!-- /client info -->
</div>
<!-- /testimonial single -->
<!-- testimonial single -->
<div class="item text-center">
<!-- client photo -->
<div class="client-thumb">
<img src="img/team/client.jpg" class="img-responsive" alt="Meghna">
</div>
<!-- /client photo -->
<!-- client info -->
<div class="client-info">
<div class="client-meta">
<h3>Abul Mal Muhit</h3>
<span>Dec 26, 2014</span>
</div>
<div class="client-comment">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ex, cupiditate, error, suscipit saepe sed ea consequuntur inventore sequi sit illo.</p>
<ul class="social-profile">
<li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
<li><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
</ul>
</div>
</div>
<!-- /client info -->
</div>
<!-- /testimonial single -->
</div>		<!-- end testimonial wrapper -->
</div> 		<!-- end col lg 12 -->
</div>	    <!-- End row -->
</div>       <!-- End container -->
</section>    <!-- End Section -->
<!--
Start Blog Section
=========================================== -->
<section id="blog" class="bg-one">
<div class="container">
<div class="row">
<!-- section title -->
<div class="title text-center wow fadeInDown">
<h2> Latest <span class="color">Posts</span></h2>
<div class="border"></div>
</div>
<!-- /section title -->
<div class="clearfix">
<!-- single blog post -->
<% if(data.length >= 4){ %>

<% for(var i = 0 ; i < 4; i++) { %>
<article class="col-md-3 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
<div class="note">
<div class="media-wrapper">
<img src="img/blog/amazing-caves-coverimage.jpg" alt="amazing caves coverimage" class="img-responsive">
</div>
<div class="excerpt">
<h3><%=data[i].heading%></h3>
<a class="btn btn-transparent" href="getAdmin/mid/<%=data[i]._id%>">Read more</a>
</div>
</div>
</article>
<%}%>
<% } %>

<% if(data.length < 4){ %>
<% for(var i = 0 ; i < data.length; i++) { %>
<article class="col-md-3 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
<div class="note">
<div class="media-wrapper">
<img src="img/blog/amazing-caves-coverimage.jpg" alt="amazing caves coverimage" class="img-responsive">
</div>
<div class="excerpt">
<h3><%=data[i].heading%></h3>
<a class="btn btn-transparent" href="getAdmin/mid/<%=data[i]._id%>">Read more</a>
</div>
</div>
</article>
<%}%>
<% } %>
<div class="all-post text-center">
<a class="btn btn-transparent" href="/getAdmin">View All Post</a>
</div>
</div> <!-- end row -->
</div> <!-- end container -->
</section> <!-- end section -->
<!-- Srart Contact Us
=========================================== -->
<section id="contact-us">
<div class="container">
<div class="row">
<!-- section title -->
<div class="title text-center wow fadeIn" data-wow-duration="500ms">
<h2>Get In <span class="color">Touch</span></h2>
<div class="border"></div>
</div>
<!-- /section title -->
<!-- Contact Details -->
<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
<h3>Contact Details</h3>
<p>We are headquarterd at New Delhi India</p>
<div class="contact-details">
<div class="con-info clearfix">
<i class="fa fa-home fa-lg"></i>
<span>New Delhi</span>
</div>
<div class="con-info clearfix">
<i class="fa fa-phone fa-lg"></i>
<span>Phone: +9504017526</span>
</div>
<div class="con-info clearfix">
<i class="fa fa-fax fa-lg"></i>
<span>Fax: +880-31-000-000</span>
</div>
<div class="con-info clearfix">
<i class="fa fa-envelope fa-lg"></i>
<span>Email: terminals@gmail.com</span>
</div>
</div>
</div>
<!--<!-- / End Contact Details -->
<!--<!-- Contact Form -->
<!--<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">-->
<!--<form id="contact-form" method="post" action="sendmail.php" role="form">-->
<!--<div class="form-group">-->
<!--<input type="text" placeholder="Your Name" class="form-control" name="name" id="name">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="email" placeholder="Your Email" class="form-control" name="email" id="email">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>	-->
<!--</div>-->
<!--<div id="mail-success" class="success">-->
<!--Thank you. The Mailman is on His Way :)-->
<!--</div>-->
<!--<div id="mail-fail" class="error">-->
<!--Sorry, don't know what happened. Try later :(-->
<!--</div>-->
<!--<div id="cf-submit">-->
<!--<input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">-->
<!--</div>						-->
<!--</form>-->
<!--</div>-->
<!-- ./End Contact Form -->
</div> <!-- end row -->
</div> <!-- end container -->
<!-- Google Map -->
<div class="google-map wow fadeInDown" data-wow-duration="500ms">
<div id="map-canvas"></div>
</div>
<!-- /Google Map -->
</section> <!-- end section -->
<!-- end Contact Area
========================================== -->
<footer id="footer" class="bg-one">
<div class="container">
<div class="row wow fadeInUp" data-wow-duration="500ms">
<div class="col-lg-12">
<!-- Footer Social Links -->
<div class="social-icon">
<ul>
<li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
</ul>
</div>
<!--/. End Footer Social Links -->
<!-- copyright -->
<div class="copyright text-center">
<a href="index.html">
<img src="img/Democracy.png" alt="Meghna" />
</a>
<br />
<p>Design And Developed by <a href="http://www.themefisher.com"> Terminals Team</a>. Copyright &copy; 2017. All Rights Reserved.</p>
</div>
<!-- /copyright -->
</div> <!-- end col lg 12 -->
</div> <!-- end row -->
</div> <!-- end container -->
</footer> <!-- end footer -->
<!-- Back to Top
============================== -->
<a href="javascript:;" id="scrollUp">
<i class="fa fa-angle-up fa-2x"></i>
</a>
<!-- end Footer Area
========================================== -->
<!--
Essential Scripts
=====================================-->
<!-- Main jQuery -->
<script src="js/jquery-1.12.2.min.js"></script>
<!-- Bootstrap 3.1 -->
<script src="js/bootstrap.min.js"></script>
<!-- Slitslider -->
<script src="js/jquery.slitslider.js"></script>
<script src="js/jquery.ba-cond.min.js"></script>
<!-- Parallax -->
<script src="js/jquery.parallax-1.1.3.js"></script>
<!-- Owl Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Portfolio Filtering -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- Custom Scrollbar -->
<script src="js/jquery.nicescroll.min.js"></script>
<!-- Jappear js -->
<script src="js/jquery.appear.js"></script>
<!-- Pie Chart -->
<script src="js/easyPieChart.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing-1.3.pack.js"></script>
<!-- tweetie.min -->
<script src="js/tweetie.min.js"></script>
<!-- Google Map API -->
<% include abc.ejs %>

<script src="js/jquery.nav.js"></script>
<!-- Sticky Nav -->
<script src="js/jquery.sticky.js"></script>
<!-- Number Counter Script -->
<script src="js/jquery.countTo.js"></script>
<!-- wow.min Script -->
<script src="js/wow.min.js"></script>
<!-- For video responsive -->
<script src="js/jquery.fitvids.js"></script>
<!-- Grid js -->
<script src="js/grid.js"></script>
<!-- Custom js -->
<script src="js/custom.js"></script>
</body>
</html>
